// // Core
// @color-primary: #2cc5d2; //caribbean teal (buttons)
// @color-secondary: #5db9ff; //cerulean blue (menu new list)
// @color-tertiary: #d2edf4; //muted teal (join/signin bg)
// @color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
// @color-complementary: #778b91; //muted navy (add item placeholder)

// // Alert
// @color-negative: #ff4400; //error, alert
// @color-note: #f6fccf;

// // Greyscale
// @color-empty: white;
// @color-raw: #f8f8f8;
// @color-raw: #f2f2f2;
// @color-rare: #eee;
// @color-medium-rare: #ccc;
// @color-medium: #aaa;
// @color-medium-well: #666;
// @color-well: #555;
// @color-full: #333;
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


body {
  font-family: sans-serif;
  background-color: rgba(138,182,107,1);
  background-image: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
// Standard text input
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  // // Sizing
  // .font-s2;
  // .type-regular;
  padding: .75rem 0; //total height ~48
  line-height: 1.5rem !important;

  // Style
  // .placeholder(@color-complementary);
  @include placeholder {
      font-style:italic;
      color: #090;
      font-weight:100;
  }

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;

  &[disabled] { opacity: .5; }
}

.container {
  max-width: 600px;
  margin: 0 auto;
/*  min-height: 100%;
  background: #bfd255;
  background-image: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);*/
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.65);
}

header {
  background: #bfd255;
  background-image: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
.items {
    margin-top: 10px;
    padding: 0.3em;
}