
body {
  font-family: sans-serif;
  background-color: $color-bg;
  background-image: linear-gradient(to bottom, $color-bg-grad-a 0%,$color-bg 44%,$color-bg-grad-b 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
// Standard text input
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  // // Sizing
  // .font-s2;
  // .type-regular;
  padding: .75rem 0; //total height ~48
  line-height: 1.5rem !important;

  // Style
  @include placeholder {
      color: #090;
      text-transform: uppercase;
      // padding-left: 0.6em;
  }

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #333;
  outline: none;

  &[disabled] { opacity: .5; }
}

.container {
  max-width: 600px;
  margin: 0 auto;
/*  min-height: 100%;
  background: #bfd255;
  background-image: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);*/
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.65);
}

header {
  background: $color-header-bg;
  background-image: linear-gradient(to bottom, $color-header-bg 0%, $color-header-bg-grad-a 40%, 
    $color-header-bg-grad-b 75%,$color-header-bg-grad-c 100%);
  padding: 20px 15px 15px 15px;
  position: relative;

  h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
    color: #fff;
  }
 .hide-completed {
  display: inline-block;
}



}
footer {
  background: $color-bg-dark;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 80%;
  a {
    &:link, &:hover, &:active {
      color: #ddd;
      text-decoration: none;
    }
    &:visited {
      color: #000;
      text-decoration: none;
    }
  }
}

form {
  margin-top: 10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
.items {
    margin-top: 10px;
    padding: 0.3em;
}