
#login-buttons {
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-top: 5px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background: #299a0b;
  border: 1px solid #299a0b;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background: #7F9978;
}
#login-buttons .login-close-text {
  float: right;
 }


.accounts-dialog {
  border: 1px solid #299a0b;
  z-index: 1000;
  background: #C3E5B7;
  border-radius: 4px;
  padding: 8px 12px;
  margin: -8px -12px 0 -12px;
  width: 250px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: #333;
}

.new-tasks {
  background: #fff;
  input {
      box-sizing: border-box;
      padding: 10px;
      background: transparent;
      border: none;
      width: 100%;
      padding-right: 80px;
      font-size: 1em;

      &:focus {
        outline: 0;
      }
  }


}





.items {
   ul {
     li {
      input {
          background: transparent;
          cursor: pointer;
          &:focus {cursor: text;}
      }
      .toggle-private {
        margin-left: 5px;
        @include border-radius(10px);
        border: none;
        background: #299a0b;
        color: #fff;
        padding: 0.5em;
        font-size: .7rem;
      }
      .text {
        margin-left: 10px;
          strong {
          color: #090;
          text-transform: uppercase;
          font-size: 70%;

            &:after {
              content: " - ";
            }
          }
      }
     }
      .checked {
        color: #888;
          background-color: rgb(220,236,244); // Old browsers
          @include filter-gradient(#dcecf4, #849ba8, vertical); // IE6-9
          @include background-image(linear-gradient(top, rgba(220,236,244,1) 0%,rgba(132,155,168,1) 100%));        
        
        .text, .text input[disabled] {
          text-decoration: line-through;

        }

      }
      .private {
        // background: #eee;
        border-color: #ddd;
      }

      .editing {
          input[type="text"] {
              background: #fff;
              width: 90%;
          }
      }
      .delete {
        font-weight: bold;
        background: none;
        font-size: 1em;
        border: none;
        position: absolute;
        right: 10px;
        color: #c00;
      }      
   }
}








.count-list {
    background: #299a0b;
    border-radius: 1em;
    color: #fff;
    display: inline-block;
    font-size: .8rem;
    line-height: 1;
    /*margin-left: -1.25rem;*/
    margin-top: -4px;
    padding: .3em .5em;
    vertical-align: middle;
}

