// Core
$color-bg: rgba(138,182,107,1);
$color-bg-grad-a: rgba(201,222,150,1);
$color-bg-grad-b: rgba(57,130,53,1);


// header
$color-header-bg: #bfd255;
$color-header-bg-grad-a: #8eb92a;
$color-header-bg-grad-b: #72aa00;
$color-header-bg-grad-c: #9ecb2d;

// footer
$color-bg-dark: #398235;

