.DS_Store
client/lib/.DS_Store
client/stylesheets/.DS_Store
client/templates/.DS_Store
lib/.DS_Store
public/font/.DS_Store
public/icon/.DS_Store
public/img/.DS_Store
resources/.DS_Store
server/.DS_Store
.sass-cache/